

.newquestion {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-content:center;
    background: rgb(229, 235, 233);
    margin: 2.5rem;
    border-radius: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}



.newquestion__addquestion,
.newquestion__addanswer,
.newquestion__addtags {
    color:rgb(124, 16, 70);
    font-size: 1.3rem;
    text-shadow: 3px 3px 2px rgba(40, 40, 40, 0.6);
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
    



textarea {
    align-self: center;
    font-family: "Verdana";
    font-size: 0.7rem;
    font-style: italic;
    background-color: rgb(229, 235, 233);
    padding: 1.5rem; 
    background-color: rgb(229, 235, 233);
    border-radius: 1.5rem;
    box-shadow: 10px 10px 4px rgba(40, 40, 40, 0.6);
 
}

.newquestion__submitbutton {
    background-color: orange;
    color: white; 
    font-size: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;   
    align-self: center;
}

.newquestion__submitbutton:hover {
    transform: scale(1.1);
}
