

.newquestion {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-content:center;
    background: var(--primary);
    margin: 2.5rem;
    border-radius: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.newquestion__addquestion__textarea {
    align-self:center;
}


.newquestion__addquestion,
.newquestion__addanswer,
.newquestion__addtags {
    color: var(--secondary);
    font-size: 1.3rem;
    xtext-shadow: 3px 3px 2px rgba(40, 40, 40, 0.6);
    align-self: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
    



textarea {
    margin: 0 auto;
    font-family: "Verdana";
    font-size: 0.7rem;
    font-style: italic;
    background-color: var(--primary);
    padding: 1.5rem; 
    border-radius: 1.5rem;
    box-shadow: 5px 5px 4px rgba(40, 40, 40, 0.6);
 
}

.newquestion__submitbutton {
    background-color: var(--red);
    color: var(--white);
    font-size: 1rem;
    margin-top: 2rem;
    padding: 0.8rem;
    border-radius: 0.5rem;   
    align-self: center;
}

.newquestion__submitbutton:hover {
    transform: scale(1.1);
}
