

header {
    background-color: rgb(255, 165, 0);
    padding: 2rem;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1;
    
}

h1 {
    color: white;
    font-size: 1.8rem;
}


      