

.nav {
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: orange;
    
}


.nav li {
    display: inline-block;
    background-color: orange;
    color: white; 
    padding: 0.7rem;
    font-size: 0.8rem;  
}


.nav a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;

}

.nav img {
    width: 35px; 
    border: solid green;
    

}

