

.nav {
    display:flex; 
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: center;
    background: var(--primary);
    margin-bottom: 0;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
   
}


.nav li {
    display: inline-block;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 0.7rem;
    font-size: 0.8rem; 
     
}



.nav a {
    text-decoration: none;
    color: var(--secondary-light);
    font-size: 0.9rem;
    text-align: center;
    display:block;  

}



.nav a:hover {
    xcolor: var(--secondary);
    xfont-weight: bold;
}


.nav a.active {
    color: var(--secondary);
    font-weight: bold;
}




.nav img {
    width: 35px; 
    margin: 0 auto; 
}



.nav__home__filled{
    background-image: url("/images/icon-home-grey.png");
    z-index: 3;
}

.nav__bookmark__filled{
    background-image: url("/images/icon-bookmark-grey.png");
}

.nav__create__filled{
    background-image: url("/images/icon-create-grey.png");
}


.nav__profile__filled{
    background-image: url("/images/icon-profile-grey.png");
}