
.profile {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto);
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
    background: var(--secondary-light);
    margin: 2.5rem;
    border-radius: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
   
 
}

.profile__img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10rem;
    grid-column-start: 1;
    grid-column-end: 1;
    align-self:center;
    margin-top: 1.5rem;
    margin-left: 1rem;
    
}


.profile__name {
    color:var(--secondary);
    grid-column-start: 2;
    grid-column-end: 2;
    align-self: center;
    margin-left: 1rem;
   
}

.profile__about {
    grid-column: 1 / -1;
    color: var(--secondary);
    text-align: center;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

.profile__skills {
    color: var(--secondary);
    margin-bottom: 1rem;
}



.profile__skills__list{
    grid-column: 1 /-1;
    text-align:center;

}

.profile__skills__list li {
    display: inline-block;
    border: solid 3px  var(--secondary);
    color:  var(--secondary);
    padding: 0.8rem;
    border-radius: 5px; 
    font-size: 0.8rem;
    justify-self:center;
    align-self: center;
    margin-top: 0.8rem;
    
}

.profile__logout {
    background-color: var(--secondary);
    color:var(--white);
    font-size: 1rem;
    border-radius: 0.5rem; 
    grid-column: 1 /-1;
    justify-self:center;
    align-self: center;
    padding: 1rem 2rem;
   
}

.profile__logout:hover {
    transform: scale(1.1);
}



