

.questionbox{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5rem; 
    background-color: var(--primary);
    margin: 2rem;
    border-radius: 1.5rem;
    position:relative;
    
   
}


.questionbox__bookmarkicon {
    align-self:flex-end;
    position: absolute;
    top: -15px; 
    
}

.questionbox__bookmarkicon:hover {
    transform: scale(1.2);
    color: var(--primary);
}


.questionbox__headline {
    color: var(--secondary);
    margin-bottom: 1.3rem;
    align-self: center;
    text-shadow: 4px 4px 2px rgba(40, 40, 40, 0.3);

}

.questionbox__question {
    margin: 1rem auto;
    text-align: center;
    
}

  
.questionbox__button {
    background-color: var(--secondary);
    color: var(--white);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;   
    align-self: center;
}

.questionbox__button:hover {
    transform: scale(1.1);
}


.questionbox__answer {
    margin: 1rem auto;

    
}

.questionbox__tags {
    xalign-self: center;
    text-align: center;
}


.questionbox__tags li {
    display: inline-block;
    border: solid 1.5px var(--secondary);
    color: var(--secondary);
    margin: 1rem 0.1rem;
    padding: 0.8rem;
    border-radius: 5px; 
    font-size: 0.8rem;
    
    }

    .questionbox__tags__1:hover,
    .questionbox__tags__2:hover,
    .questionbox__tags__3:hover,
    .questionbox__tags__4:hover{
        background:var(--secondary);
        color: var(--white);
    }

    .questionbox__tags__4:active{
        background: var(--secondary);
        color: var(--white);
    } 