

.questionbox{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1.5rem; 
    background-color: rgb(229, 235, 233);
    margin: 2rem;
    border-radius: 1.5rem;
    position:relative;
    
   
}


.questionbox__bookmarkicon {
    align-self:end;
    position: absolute;
    top: -15px; 
    
}

.questionbox__bookmarkicon:hover {
    transform: scale(1.1);
    color: orange;
}


.questionbox__headline {
    color: rgb(124, 16, 70);
    margin-bottom: 1.3rem;
    align-self: center;
    text-shadow: 4px 4px 2px rgba(40, 40, 40, 0.3);

}

.questionbox__question {
    margin: 1rem auto;
    
    
}

  
.questionbox__button {
    background-color: rgb(124, 16, 70);
    color: white; 
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;   
    align-self: center;
}

.questionbox__button:hover {
    transform: scale(1.1);
}


.questionbox__answer {
    margin: 1rem auto;

    
}

.questionbox__tags {
    align-self: center;
}


.questionbox__tags li {
    display: inline-block;
    border: solid 3px rgb(124, 16, 70);
    color:rgb(124, 16, 70);
    margin: 1rem 0.1rem;
    padding: 0.8rem;
    border-radius: 5px; 
    font-size: 0.8rem;
    
    }

    .questionbox__tags__1:hover,
    .questionbox__tags__2:hover,
    .questionbox__tags__3:hover,
    .questionbox__tags__4:hover{
        background:rgb(124, 16, 70);
        color: white;
    }