
:root {
  --primary: rgb(229, 235, 233);
  --secondary: rgb(67, 74, 86);
  --secondary-light:  rgba(67, 74, 86, 0.589);
  --white: white;
  --red: rgb(231, 101, 91);

}




*,
*::before,
*::after{
    box-sizing: border-box;
}

body, 
h1, 
h2,
h3,
p {
    margin: 0;
  }


body {
    font-size: 1.1rem; 
    font-family: "Verdana";
    margin: 0;
    xbackground-color: var(--secondary);
    background-image: url("/images/background-img.jpg");
    background-size: cover;
 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
  }

 
  ul,
  ol {
  list-style: none;
  padding: 0;
}

main {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
